{% load cloudinary %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon"
     href="{% cloudinary_url "http://cloudinary.com/favicon.png" type="fetch" %}" />
    <link href="{% static "photo_album.css" %}" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% cloudinary_includes %}
    <script>
      {% block javascript %}{% endblock %}
    </script>
  </head>
  <body>
    <div id="logo">
        <!-- This will render the fetched image using cloudinary -->
        {% cloudinary "http://cloudinary.com/images/logo.png" type="fetch" %}
    </div>
    <div id="posterframe" style="position: absolute; right: 0; top: 5px;">
        <!-- This will render the fetched facebook image using cloudinary with all the
             requested transformations -->
        {% cloudinary "officialchucknorrispage" ICON_EFFECTS %}
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
