{% extends "base.html" %}
{% load cloudinary %}
{% block body %}
  <h1>Welcome!</h1>
  <p>This is the main demo page of the PhotoAlbum sample PHP application for Cloudinary.<br />
  Here you can see all the photos you had uploaded to the app and find some information about how
  to implement your own PHP application storing, manipulating and serving your photos using
  Cloudinary!</p>

  <p>All of the images you see here are served by cloudinary. For instance the logo and the posterframe. They are both render from server side using the Cloudinary shortcut functions: fetch_image_tag and facebook_profile_image_tag. These two pictures weren't even have to be uploaded to cloudinary, they are retrieved by the backend, transformed, cached and distributed using a CDN.
  </p>

  <h1>Photos</h1>
  <div class="photos">
    {% if photos.exists %}
      <p>Following are the photos uploaded by you. If you want to upload more pictures go to the
      <a href="upload">upload page</a>.<br />
      You can click each picture to view its original size, and see more info about it by clicking
      <i>show more...</i></p>
    {% else %}
      <p>No images were uploaded yet. click <a href="upload">here</a>
       to go to the upload page</p>
    {% endif %}
    {% for photo in photos %}
      <div class="photo">
          <a href="{{ photo.image.url }}" target="_blank">{{ photo.image.public_id }}</a>
        <div class="less_info">
          <a href="#" class="toggle_info">Show more...</a>
        </div>
        <div class="more_info">
          <a href="#" class="toggle_info">Show less...</a>
          <table class="thumbnails">
            Different thumbnails:
            {% for sample in samples %}
              <td>
                {% cloudinary photo.image sample %}
                <br/>
                <table>
                  {% for key, value in sample.items %}
                    <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
                  {% endfor %}
                </table>
              </td>
            {% endfor %}
          </table>
          <p> As you can see, different tranformations can go a long way.
          You're welcome to consult the <a href="http://cloudinary.com/documentation/image_transformations"
          >Image Transformation reference</a> for more awesome transformations
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block javascript %}
  $(function () {
    $('.toggle_info').click(function () {
      $(this).closest('.photo').toggleClass('show_more_info');
      return false;
    });
  });
{% endblock %}
