{% extends "base.html" %}
{% load cloudinary %}
{% load staticfiles %}
{% load url from future %}

{% block body %}
  <!-- A standard form for sending the image data to your server -->
  <div id='backend_upload'>
    <h1>Upload through backend</h1>
    <form action="{% url "photo_album.views.upload" %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ backend_form }}
      <input type="submit" value="Upload">
    </form>
    {% if posted %}
      <div class="results">
        {% if posted.errors %}
          Errors: {{ posted.errors }}
        {% else %}
          Uploaded: {{ posted.image.public_id }} {% cloudinary posted.image THUMBNAIL %}
        {% endif %}
      </div>
    {% endif %}
  </div>

  <!-- This is the direct upload - also based on the fileupload for the frontend.
    The cl_image_upload_tag php function is generating the required html and javascript to
    allow uploading directly to your Cloudinary storage -->
  <div id='direct_upload'>
    <h1>Direct upload from the browser</h1>

    <form action="{% url "photo_album.views.direct_upload_complete" %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ direct_form }}
      {# altenatively, could use: {% cloudinary_direct_upload_field request=request %} #}
    </form>

    <!-- status box -->
    <div class="status">
      <h2>Status</h2>
      <span class="status_value">Idle</span>
    </div>
    <div class="uploaded_info_holder">
    <a href="{% url "photo_album.views.list" %}" class="back_link">Back to list...</a>
  </div>
{% endblock %}
{% block javascript %}
  function prettydump(obj) {
    ret = ""
    $.each(obj, function(key, value) {
      ret += "<tr><td>" + key + "</td><td>" + value + "</td></tr>";
    });
    return ret;
  }
  $(function () {
    $('#direct_upload input[type="file"]')
    .fileupload({
      dropZone: '#direct_upload',
      start: function () {
        $('.status_value').text('Starting direct upload...');
      },
      progress: function () {
        $('.status_value').text('Uploading...');
      },
    })
    .on('cloudinarydone', function (e, data) {
        $('.status_value').text('Updating backend...');
        $.post(this.form.action, $(this.form).serialize()).always(function (result, status, jqxhr) {
          $('.status_value').text(result.errors ? JSON.stringify(result.errors) : status);
        });
        var info = $('<div class="uploaded_info"/>');
        $(info).append($('<div class="data"/>').append(prettydump(data.result)));
        $(info).append($('<div class="image"/>').append(
           $.cloudinary.image(data.result.public_id, {
           format: data.result.format, width: 150, height: 150, crop: "fill"
           })
        ));
        $('.uploaded_info_holder').append(info);
    });
  });
{% endblock %}
